html,body {
  padding: 0px;
  margin: 0px;
}
* {
  font-family: 'VT323', sans-serif;
  font-size: 22pt;
}
*:hover {
  outline: none;
}
#messages {
  padding: 5px;
  overflow: auto;
  border-bottom: 2px solid #000;
}